.header {
    background-color: #242424;
    text-align: center;
    position: fixed;
    width: 100%;
    display: flex;
  }
  
  .header__title {
    color: red;
    font-size: 36px;
    text-align: left;
    margin-left: 30px;
  }

  .dornbirn {
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    margin-left: 10px;
  }

  .home {
    color: #ffffff;
    font-size: 23px;
    text-align: right;
    margin-left: 760px;
    margin-top: 36px;
  }

  .students {
    color: #ffffff;
    font-size: 23px;
    text-align: right;
    margin-left: 50px;
    margin-top: 36px;
  }

  .aboutus {
    color: #ffffff;
    font-size: 23px;
    text-align: right;
    margin-left: 50px;
    margin-top: 36px;
  }
