.wrapper {
    /*display: grid;*/
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 1rem;
    justify-content: left;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 18px;
    margin-right: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }